

@media screen and (min-width: 1200px){
    .container { 
        width: 1158px;
    } 
    /*----------HEADER----------*/

    .header>.container {
        width: 1200px;
    }

 

    .header-list-contacts{
        display: flex;
    }

     /*---------HERO-----------*/

    .hero >.container {
        width:1200px;
    }

    .hero{
        padding-top: 188px;
     padding-bottom: 188px;
     background-image: var(--bg-gradient),
     url(../images/hero/hero-bg.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) 
    {
    .hero{
      background-image: var(--bg-gradient), 
      url(../images/hero/hero-bg-2x.jpg);
    }
  }

    .hero-title{
        margin-bottom: 48px;
    }


    /*-----------ABOUT----------*/

    .about>.container{
        width: 1158px; 
        
    }


    .about-list{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap:24px;
        
    }
    

    .about-after-title {
        font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--first-title-color);
 margin-bottom: 8px;
 text-align: left;
    
    }

    .about-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color:var(--text-color);
        text-align: left;
        }


    .about-soc{
        width:264px;
        height: 112px;
        background: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        }

    
    /*---------GALLERY-----------*/
    

    .gallery{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    

    .gallery-title{
    font-size: 36px;
    line-height:1.11;
    color:var(--first-title-color);
    margin-bottom: 72px;
    display: flex;
   justify-content: center;
    
}
    

    .gallery-list{
        display: flex;
        gap: 24px;
    }

    .gallery-item{
        width: calc((100%-48px)/3);

    }

     /*---------TEAM-----------*/

    .team{
        padding-top: 120px;
        padding-bottom: 120px;
    }

 
    .team-item {
        width: calc((100% - 72px) / 4); 
    }

    .customers > .container {
        width:1158px;
    }

    .customers{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-item{
        width: calc((100% - 120px) / 6);
       }

       .footer >.container {
        width: 1200px;
        display: flex;
       
    }

    .footer-soc{
     margin-left: 120px; }

     .footer-subscribe{
      margin-left: 80px; 
      }

}