

@media screen and (min-width: 1200px){
    .container { 
        width: 1200px;
    } 

    .hero >.container {
        width: 1200px;
    }

    .hero{
        padding-top: 188px;
     padding-bottom: 188px;
    }

    .hero-title{
        margin-bottom: 48px;
    }
 

    
    /*---------GALLERY-----------*/
    

    .gallery{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    

    .gallery-title{
    font-size: 36px;
    line-height:1.11;
    color:var(--first-title-color);
    margin-bottom: 72px;
    display: flex;
   justify-content: center;
    
}
    

    .gallery-list{
        display: flex;
        gap: 24px;
    }

    .gallery-item{
        width: calc((100%-48px)/3);

    }

     /*---------TEAM-----------*/

    .team{
        padding-top: 120px;
        padding-bottom: 120px;
    }

 
    .team-item {
        width: calc((100% - 72px) / 4); 
    }

    .customers > .container {
        width: 1200px;
    }

    .customers{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-item{
        width: calc((100% - 120px) / 6);
       }

}