@media screen and (min-width: 480px){
    .container { 
        width: 294px;
    }

    .mob-menu >.container {
        width: 458px;
    }

    .mob-menu-list{
        margin-bottom: 100px;
        }
        

    .mob-menu-item:not(:last-child)
{
margin-bottom: 40px;
}

.mob-contacts-list{
    margin-bottom: 48px;
    }

    .mob-contacts-tel{
      font-size: 36px;
      }

      .mob-menu-link{
      font-size: 36px;
      }
    

    .header >.container {
        width: 428px;
    }

    .hero >.container {
        width: 348px;
    }

    
    .hero-title{
        font-size: 35px;}

      
    .about >.container {
        width: 426px;
    }

  
    .customers >.container {
        width: 426px;
      
       
    }

    .footer >.container {
        width: 426px;
    }

}